@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 79%2c 135%2c 1)'%3e%3c/rect%3e%3cpath d='M-176.15 498.08C81.87 512.92 250.82 973.83 736.28 984.08 1221.73 994.33 1416.25 1162.23 1648.7 1163.07' stroke='rgba(34%2c 129%2c 197%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-18.4 917.35C118.42 918.4 246.8 1052.35 511.99 1052.35 777.19 1052.35 774.73 917.02 1042.38 917.35 1310.03 917.68 1423.1 1188.66 1572.77 1197.06' stroke='rgba(34%2c 129%2c 197%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-41.95 197.13C138.58 221.54 155.08 568 536.79 639.93 918.51 711.86 914.25 1184.15 1115.54 1233.63' stroke='rgba(34%2c 129%2c 197%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-366.69 433.29C-201.53 463.15-164.63 845.46 137.93 876.09 440.48 906.72 503.36 1106.61 642.54 1112.36' stroke='rgba(34%2c 129%2c 197%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-237.98 866.97C-88.88 867.85 52.48 1001.97 342.94 1001.97 633.4 1001.97 632.27 866.87 923.85 866.97 1215.44 867.07 1347.93 1099.97 1504.77 1104.5' stroke='rgba(34%2c 129%2c 197%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

/* Navbar */
.navbar{
    background-color: #03385e
}

/* ..............Menu lateral.............. */

.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid:
      "menu ." 1fr
      / auto 1fr;
    gap: 8px;
  }

  #lateral-Menu {
    grid-area: menu;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}

/* ..............Contenido.............. */
#content{
    position:absolute;
    width: 87%;
    height: 85%;
    border-radius: 100px 0px 0px 0px;
    background: #fffcfc;
    box-shadow: -9px 18px 18px 0px rgba(0, 0, 0, 0.70);
    bottom: -5%;
    right: 0;
}

@media (min-width:200px) and (max-width:1100px){
    .layout {
      grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos pequeños */
      grid-template-rows: auto auto;
      grid-template-areas:
        "menu"
        "content";
    }

    #lateral-Menu {
      width: 100%; /* El menú ocupa todo el ancho en dispositivos pequeños */
      height: auto;
      position: static;
    }

    #content {
      width: 100%; /* El contenido ocupa todo el ancho en dispositivos pequeños */
      height: auto;
      position: static;
      box-shadow: none;
      border-radius: 0;
    }
  }
